.navbar{
    display: flex;
    justify-content: flex-start;
    margin-top: 400px;

    max-width: 1550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;

    text-decoration: none;
    list-style: none;

    rotate: -90deg;

    font-size: var(--fs-300);
    font-weight: var(--fw-light);
}

