.projects{
    margin-top: 400px;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projects h2{
    text-align: end;
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    position: relative;
}

.projects h2::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50%;
    border: 3px solid black;
    width: 5%;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 150px;
}